.languages__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 30px;
}

.languages__button {
  margin-bottom: 10px;
  padding: 7px 12px;
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $languages__button_color;
}

.languages__button--active {
  background-color: $languages__button_background_color__active;
  color: $main_color;
  border-radius: 4px;
  text-decoration: none;
}

.margin_top {
  margin-top: 54px !important;
}
