$font: 'Montserrat',
sans-serif;
$font_color_white: #fff;
$main_color: #0f1642;
$form_wrap_background_color: #fff;
$light_grey: #e6e7eb;
$orange: #ff9f43;
$languages__button_color: #fff;
$languages__button_background_color__active: #fff;
